<!doctype html>
<html lang="ko">
<head>
    <%- include("../part/header")%>


</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Health Care</h3>
    </header>

<main role="main" class="inner cover">
    <table border="1" style="width:600px; margin: auto" >
        <colgroup>
            <col width='15%' />
            <col width='*%' />
        </colgroup>
        <tbody>
        <tr>
            <td>Writer</td>
            <td><%=row.brdwriter%></td>
        </tr>
        <tr>
            <td>Title</td>
            <td><%=row.brdtitle%></td>
        </tr>
        <tr>
            <td>Memo</td>
            <td><%=row.brdmemo%></td>
        </tr>
        </tbody>
        <table class="table-borderless" style="margin: auto">
            <tbody>
            <tr>
                <td colspan="2" style="text-align: right">
                <a href="#" onclick="history.back(-1)">List</a>
                <a href="boardDelete?brdno=<%=row.brdno%>">Delete</a>
                <a href="boardForm?brdno=<%=row.brdno%>">Modify</a>
                </td>
            </tr>
            </tbody>
        </table>
    </table>



</main>

</div>
</body>
<%- include("../part/footer")%>
