<!doctype html>
<html lang="ko">
<head>
    <%- include("../part/header")%>


</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Health Care</h3>
    </header>

<main role="main" class="inner cover">
    <form name="form1" action="boardSave" method="post">
        <table border="1" style="width:600px; margin:auto">
            <colgroup>
                <col width='15%' />
                <col width='*%' />
            </colgroup>
            <tbody>
            <tr>
                <td>Writer</td>
                <td><input type="text" name="brdwriter" size="20" maxlength="20" value="<%=row.brdwriter%>" style="margin-left: -66%"></td>
            </tr>
            <tr>
                <td>Title</td>
                <td><input type="text" name="brdtitle" size="70" maxlength="250" value="<%=row.brdtitle%>"></td>
            </tr>
            <tr>
                <td>Memo</td>
                <td><textarea name="brdmemo" rows="5" cols="60" style="margin-left: -17%"><%=row.brdmemo%></textarea></td>
            </tr>
            </tbody>
        </table>
        <a href="#" onclick="form1.submit()" style="margin-left: 55%">저장</a>
        <input type="hidden" name="brdno" value="<%=row.brdno%>">
        <input type="hidden" name="brddate" value="<%=row.brddate%>">
    </form>

</main>

</div>
</body>
<%- include("../part/footer")%>
