<!doctype html>
<html lang="ko">
<head>
 <title><%= title%></title>
 <% include part/header.ejs %>

</head>
<body class="text-center">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

 <header class="masthead mb-auto">

  <div class="inner">

   <h3 class="masthead-brand">Health Care</h3>

   <nav class="nav nav-masthead justify-content-center">

    <% if(pathnames=='/'){%>
     <a class="nav-link active" href="/">Home</a>
     <a class="nav-link" href="/squat">Squat</a>
     <a class="nav-link" href="/contact">Contact</a>
     <a class="nav-link" href="/graph">Graph</a>

    <%} else if(pathnames=='/squat') {%>
     <a class="nav-link " href="/">Home</a>
     <a class="nav-link active" href="/squat">Squat</a>
     <a class="nav-link" href="/contact">Contact</a>
     <a class="nav-link" href="/graph">Graph</a>


    <%} else if(pathnames=='/contact') {%>
    <nav class="nav nav-masthead justify-content-center">
     <a class="nav-link " href="/">Home</a>
     <a class="nav-link" href="/squat">Squat</a>
     <a class="nav-link active" href="/contact">Contact</a>
     <a class="nav-link" href="/graph">Graph</a>

    <%} else if(pathnames=='/graph') {%>
    <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/squat">Squat</a>
        <a class="nav-link" href="/contact">Contact</a>
        <a class="nav-link active" href="/graph">Graph</a>

        <%}%>


    </nav>
 </header>

 <% if(pathnames=='/'){%>
  <%- include("body/main") %>

 <%} else if(pathnames=='/squat') {%>
    <%- include("body/squat") %>

 <%} else if(pathnames=='/contact') {%>
    <%- include("body/contact") %>

<%} else if(pathnames=='/graph') {%>
    <%- include("body/graph") %>
 <%}%>


</div>

</body>


</html>
