<!doctype html>
<html lang="ko">
<head>
 <title><%= title%></title>
 <% include part/header.ejs %>

</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

 <header class="masthead mb-auto">

  <div class="inner">

   <h3 class="masthead-brand">Health Care</h3>

   <nav class="nav nav-masthead justify-content-center">

    <% if(pathnames=='/'){%>
     <a class="nav-link active" href="/">Home</a>
     <a class="nav-link" href="/squat">Squat</a>
     <a class="nav-link" href="/contact">Contact</a>
     <a class="nav-link" href="/graph">Graph</a>

    <%} else if(pathnames=='/squat') {%>
     <a class="nav-link " href="/">Home</a>
     <a class="nav-link active" href="/squat">Squat</a>
     <a class="nav-link" href="/contact">Contact</a>
     <a class="nav-link" href="/graph">Graph</a>


    <%} else if(pathnames=='/contact') {%>
    <nav class="nav nav-masthead justify-content-center">
     <a class="nav-link " href="/">Home</a>
     <a class="nav-link" href="/squat">Squat</a>
     <a class="nav-link active" href="/contact">Contact</a>
     <a class="nav-link" href="/graph">Graph</a>

    <%} else if(pathnames=='/graph') {%>
    <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/squat">Squat</a>
        <a class="nav-link" href="/contact">Contact</a>
        <a class="nav-link active" href="/graph">Graph</a>

        <%}%>


    </nav>
 </header>

 <% if(pathnames=='/'){%>
  <%- include("body/main") %>

 <%} else if(pathnames=='/squat') {%>
    <%- include("body/squat") %>

 <%} else if(pathnames=='/contact') {%>
    <%- include("body/contact") %>

<%} else if(pathnames=='/graph') {%>
    <%- include("body/graph") %>
 <%}%>


</div>

<!--파이어베이스 데이터 베이스 접속-->
<script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    // https://console.firebase.google.com/project/[your_project_name]/settings/serviceaccounts/adminsdk
    // 비공개키 다운로드 후 public 폴더 안에 넣어주세요.

    var firebaseConfig = {
        var admin = require("firebase-admin");

        var serviceAccount = require("keyfile");

        admin.initializeApp({
            credential: admin.credential.cert(serviceAccount),
            databaseURL: "https://[your_project_name].firebaseio.com"
        });

    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);


    var provider = new firebase.auth.GoogleAuthProvider();

    // 인증하기
    firebase.auth().signInWithPopup(provider).then(function(result) {
        // This gives you a Google Access Token. You can use it to access the Google API.
        var token = result.credential.accessToken;
        // The signed-in user info.
        var user = result.user;

        // console.log(user)		// 인증 후 어떤 데이터를 받아오는지 확인해보기 위함.
// ...
    }).catch(function(error) {
        // Handle Errors here.
        var errorCode = error.code;
        var errorMessage = error.message;
        // The email of the user's account used.
        var email = error.email;
        // The firebase.auth.AuthCredential type that was used.
        var credential = error.credential;
        // ...
    });

    firebase.analytics();

    var database = firebase.database();

    var dbTestRef = database.ref('test/')
    dbTestRef.on('child_added', function(data){
        console.log(data.val())
    })
    dbTestRef2 = database.ref('test/').update({
        squat: 20
    })
</script>

</body>


</html>
